module ${titleized_classname}
  VERSION = '${version}'
  MAVEN_VERSION = '${maven_version}'   
end
begin
  require 'java'
  require File.dirname(__FILE__) + '/${jar_file}'
rescue LoadError
  puts 'JAR-based gems require JRuby to load. Please visit www.jruby.org.'
  raise
end
